.basket {
  margin-left: -45px;
  margin-top: -20px;
  position: absolute;
  width: 100px;
}

.hidden {
  background: #228B22;
  border: 1px solid #000;
  position: absolute;
  left: 60%;
  width: 250px;
  margin-top: -10px;
  text-align: center;
  padding: 10px 0 10px 10px;
  box-shadow: 12px 12px 18px #222;
  color: #fff;
  border-radius: 5%;
}

.hidden>button {
  font-size: 18px;
}

span.header-cart-coll {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: auto;
  line-height: 38px;
  text-align: center;
  color: #000;
  font-size: 18px;
}

.href-box {
  margin: 8%;
  padding: 0;
  width: 80px;
}
