.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -18%;
  margin-right: -260px;
}

.navigation a {
  text-decoration: underline #228B22;
  font-weight: bold;
  font-size: 25px;
  margin: 15px;
}

.search {
  font-size: 20px;
  margin: -19px;
}
